.studiesButton {
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

    :hover{
        cursor: pointer;
          
          input {
            background-color: #56BBF1;
          }
          
          input[type='button']:active {
            background-color: #ff5d9e;
          }
    }
    input {
        width: 36px;
        height: 36px;
        font-size: 1.1rem;
        font-family: "Roboto", sans-serif;
        margin-right: .5rem;
        cursor: pointer;
        outline: none;
        border: none;
        background-color: white;
        }
    
    label{
        font-weight: 600;
    }
     
}

@media (prefers-color-scheme: dark ) {
}