.Button {
  width: 100%;
  font-size: 1.1rem;
  padding: 0.6rem 1.1rem;
  margin: 1rem 0;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: rgb(226, 226, 226);
  }
  .Button:hover {
  background-color: #56BBF1;
  }
  .Button:active {
  background-color: #ff5d9e;
  }

  @media (prefers-color-scheme: dark ) {
    .Button {
        background-color: #3b3b3b;
    }
}

